*{
 margin:0;
}


html, body{
 background: url("http://markinternational.info/data/out/122/219665985-mac-os-wallpapers.jpg") no-repeat center fixed;
 background-size: cover; 
}

.mainheading{
	text-align:center;
	color:Blue;
}


ul li a{
 text-decoration:none;
 color:black;
}

ul{
 height:20%;
 width:100%; 
 background:#97d6f7;
 text-align: center;
 

}

ul li{
  list-style:none;
  display:inline;
  position:relative;
  margin-left:120px;
  transform:translate(20%,30%);
  font-size:22px;
}

ul li a:hover{
color:white;
background:Blue;
padding:2%;
}

h2 { 
	text-align: center;
	font-size:40px;
	color:#f442f1;
}