*{
 margin:0;
}


html,body{
 height:100%;
 width:100%;
}


.mainheading {
 text-align: center;
}


ul li a{
 text-decoration:none;
 color:red;
}

ul{
   height:20%;
 width:100%; 
 background:#2a4532;
 text-align: center;

}

ul li{
 list-style:none;
 display:inline;
 margin:10px;
position:relative;
 margin-left:120px;
 transform:translate(20%,30%);
 font-size:22px;
}

ul li a:hover{
color:white;
 background:red;
padding:2%;
}